/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 4, 2015, 2:34:26 AM
    Author     : Brian
*/

/*.left-carousel{
   margin-left: -70px; 
}

.right-carousel{
    margin-left: 300px;
}*/

.carouselImages {
    margin: 0 auto;
}

#news {
    background-color: #333333 !important;
    margin-bottom:20px !important;
}

#myCarousel {
    height: 515px;
}

#carouselCaption {
    margin-top: 8px;
}

p {
    color: beige !important;
}

h2 {
    color: beige !important;
}

@media (max-width: @screen-xs) {
    body{font-size: 10px;}
}

@media (max-width: @screen-sm) {
    body{font-size: 14px;}
}


h5{
    font-size: 1.4em;
}   

body {
    background-image: url("../images/bg.gif");
}

/*code from main.css*/

.container {
    background-color: black;
}

/* Centers Columns */
.centered{
    text-align:center;
}

.seperation-1{
    height: 10px;
}

.seperation-2{
    height: 50px;
}


.info-panel {
    padding-top: 10px;
}


/*
.navbar-nav li a {
    //background-color: red;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    //color: blue;
    //background-color: orange;
}
*/